<section id="home">
    <div class="home-content">
        <h1 class="title">Bienvenidos a InFo+ TiK</h1>
        <p class="subtitle">
            Somos un equipo de desarrollo informático especializado en tecnologías modernas como Java, HTML, CSS, JavaScript, Linux, Ubuntu, PHP, JavaFX y Kotlin.
        </p>
        <p class="description">
            Ofrecemos soluciones tecnológicas innovadoras para impulsar su negocio.
        </p>
    </div>
</section>