<section id="home">
    <link rel="stylesheet" href="../public/css/styles.css">
    <div class="home-content">
        <h1 class="title">Bienvenidos a InFo+ TiK</h1>

        <p>Somos un equipo de desarrollo informático apasionado por la tecnología y 
            comprometido con la excelencia.</p>


        <p>Especializados en tecnologías modernas como <strong>Java</strong>, <strong>HTML</strong>, 
        <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Linux</strong>, 
        <strong>Ubuntu</strong>, <strong>PHP</strong>, <strong>JavaFX</strong> y 
        <strong>Kotlin</strong>, combinamos experiencia técnica con 
        creatividad para desarrollar soluciones a medida que se adaptan a las 
        necesidades únicas de cada cliente.</p>

        <p>Nuestra misión es impulsar el crecimiento de su negocio a través de soluciones 
            tecnológicas innovadoras, eficientes y sostenibles.</p>

        <p>Nos destacamos por:</p>

        <ul>

            <li>Diseñar y desarrollar aplicaciones robustas y escalables.</li>
            <li>Integrar herramientas personalizadas que optimizan procesos y mejoran la 
                productividad.</li>
            <li>Brindar soporte técnico de calidad y formación para asegurar el éxito de 
                cada proyecto.</li>
        </ul>

        <p>Ya sea que necesite una página web dinámica, una aplicación móvil avanzada o 
            sistemas empresariales integrales, nuestro equipo está preparado para llevar 
            su visión al siguiente nivel.</p>

        <p>Transformamos ideas en realidades digitales. ¡Hablemos!</p>

        <div class="logo-container">
            <img src="/images/Home.png" alt="Home" >
        </div>
       

    </div>
</section>