
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0a192f; 
    color: #ffffff; 
    display: flex; 
    min-height: 100vh; 

}

.imgHome {
    position: fixed; 
    bottom: 10px;    
    right: 10px;     
    width: 100px;    
    height: auto;    
    z-index: 100;     
}


.main-container {
    display: flex;
    flex-direction: row; 
    width: 100%; 
}
.logo-principal{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
    width: 100%;
    padding: 10px;
}



.logo-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 50px; 
    padding: 10px;
}
.logo-container img{
    border-radius: 20px;
    
}

.logo-container-contacto{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 250px;
    margin-bottom: 50px; 
    padding: 10px;
}
.logo-container-contacto img{
    border-radius: 20px;
}


.logo {
    border-radius: 50%; 
    width: 80%; 
    max-width: 150px; 
    height: auto; 
    border: 2px solid #64ffda; 
}


nav {
    width: 200px;
    background: linear-gradient(to bottom, #2d4876, #060e1f);
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); 
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
}


main {
    margin-left: 250px; 
    flex-grow: 1; 
    padding: 40px;
    padding-top: 5px;
    background-color: #0a192f; 
    color: #ffffff;
    overflow-y: auto; 
}


nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 10px 0;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #233554; 
    color: #e0e0e0; 
    border-left: 4px solid #64ffda; 
}


h2, h3 {
    color: #77dbf1; 
    font-weight: bold;
}

h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.miembro{
    margin-bottom: 50px;
    margin-right: 20%;
}

.tecnologias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tecnologia-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #112240; 
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.tecnologia-item:hover {
    transform: translateY(-5px); 
    background-color: #233554;
}

.tech-logo {
    width: 60px; 
    height: auto;
    margin-right: 15px;
}

.nivel-texto {
    font-size: 18px; 
    color: #e0e0e0; 
    font-weight: bold;
    width: 100px;
}


a.button {
    display: inline-block;
    background-color: transparent; 
    color: #ffffff; 
    border: 2px solid #64ffda; 
    border-radius: 10px; 
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

a.button:hover {
    background-color: #233554; 
    color: #64ffda; 
    border-color: #64ffda; 
}


footer {
    background: linear-gradient(to top, #2d4876, #060e1f);
    color: #e0e0e0; 
    text-align: end;
    padding: 1rem;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-right: 50px;
}




.proyecto{
    margin-right: 20%;
}

.miembro-detalle {
    display: flex;
    flex-direction: column;
}

.tecnologias {
    list-style: none;
    padding: 0;
}

.tecnologia-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tech-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.tech-progress {
    width: 500px;
    height: 20px;
    margin-left: 20px;
    
}



.proyecto-detalle {
    display: flex;
    flex-direction: column;
}

.proyecto-tecnologias {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: 10px; 
    padding: 0;
}

.proyecto-tecnologia-item {
    display: flex;
    align-items: center;
    gap: 5px; 
    background-color: #112240;
    padding: 5px 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.proyecto-tecnologia-item:hover {
    transform: translateY(-8px); 
    background-color: #233554;
}

.proyecto-tech-logo {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
}

@media (max-width: 768px) {
    
    nav {
        width: 100%;
        height: auto;
        position: static;
        box-shadow: none;
        background: linear-gradient(to bottom, #133d86, #060e1f);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    
    main {
        margin-left: 0; 
        padding: 20px; 
    }

    
    .main-container {
        flex-direction: column; 
    }

    
    .imgHome {
        width: 60px; 
    }

    
    h1 {
        font-size: 1.8rem; 
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    
    a.button {
        font-size: 14px;
        padding: 8px 16px;
    }

    
    .tecnologia-item,
    .proyecto-tecnologia-item {
        flex-direction: column; 
        align-items: flex-start;
        gap: 10px;
    }

    .tech-logo,
    .proyecto-tech-logo {
        width: 30px;
    }

    .tecnologia-item {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px; 
    }

    .tech-logo {
        width: 50px; 
        height: auto;
    }

    .tech-progress {
        width: 90%; 
        height: 15px; 
    }
    footer{
        text-align: center;
    }
}