body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /*height: auto;*/
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo-container {
    float: left; /* Hace que el contenedor del logo flote a la izquierda */
    margin-right: 20px; /* Espacio entre el logo y el nav */
}

.logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.home-image {
    max-width: 100%; /* Asegura que la imagen no desborde su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 20px; /* Espacio superior para separar del texto */
}

main {
    padding: 20px;
}

.main-container {
    max-width: 1200px; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Espacio interno */
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin-bottom: 40px;
}

h1, h2 {
    color: #333;
}

.miembro, .proyecto {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}